<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Real Estate Management System</title>
</head>
<body>
    <section class="showcase">
            <header>
            <a href="/real-estates" class ="logo">REMS</h2></a>
            </header>

        <video src="/stylesheets/view.mp4" muted loop autoplay></video>

        <div class="overlay"></div>

        <div class="text">
            <h2>Make your DREAM HOME</h2>
            <h3>Come TRUE with us</h3>
            <p>Let's start searching your dream home today...
            </p>
            <a href="/real-estates">Explore</a>
        </div>

        <ul class="social">
            <li><a href="#"><img src="/stylesheets/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="/stylesheets/twitter.png" alt="twitter"></a></li>
            <li><a href="#"><img src="/stylesheets/instagram.png" alt="instagram"></a></li>
        </ul>
    </section>

</body>
</html>
